.item {
  padding: 10px 30px;
  font-size: 30px;
  color: #fff;
}

.item-one {
  background-color: #9a0680;
  flex-grow: 1;
  flex-shrink: 1;
}

.item-two {
  background-color: #ff87ca;
  flex-grow: 3;
  flex-shrink: 4;
}

.item-three {
  background-color: #009dae;
  flex-grow: 2;
  flex-shrink: 6;
}

/* flexbox */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.bg-color {
}
